<!DOCTYPE html>
<html>
<head>
	<title>{{ page.title }}</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="shortcut icon" type='image/x-icon' href="/img/favicon.ico">	
	<link rel="stylesheet" type="text/css" href="/css/external/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/css/font-awesome/css/font-awesome.min.css">

	<link rel="stylesheet" type="text/css" href="/css/solarized_dark.css">
	<link rel="stylesheet" type="text/css" href="/css/tutorials.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="/css/toc.css">

	{% for css_name in page.extra_css %}
		<link rel="stylesheet" href="{{ css_name }}">
	{% endfor %}

	<!-- needed for tutorial specific css -->
	{% for css_name in page.extra_css2 %}
		<link rel="stylesheet" href="{{ css_name }}">
	{% endfor %}
</head>
<body>	
	
	<!--
	<div class="pullButton">
		<i class="fa fa-bars fa-2x"></i>
	</div>
	-->
	<div class="container" id="main-container">
		<div class="topNavbar">
			<div class="navbar-div" id="logo">
			<a class="logoLink" href="/">BIOJS</a>
			</div>
			<div class="navbar-div" id="navbar-links2">
				<li>
					<a class="gitStar"style="width:150px;" href="https://github.com/biojs/edu/blob/master/{{ page.path }}" ><span class="glyphicon glyphicon-pencil" style="font-size:14px; margin-bottom:3px;" ></span> Improve this page</a>
				</li>
				<li><a class="git" id="gh-btn" href="https://github.com/biojs/biojs" target="_blank"><i class="fa fa-star"></i></a></li>
				<li><a class="git" id="gh-btn" href="https://github.com/biojs/biojs" target="_blank"><i class="fa fa-github-alt"></i></a></li>
				
			</div>
		</div>
		
    <div id="biojs-menu">
{% include menu.html %}
	</div>

	<div id="biojs-main-content">
		
		{{content}}
	</div>
		
		</div>
		<!--
		<div class="footer">
			<div class="improve-this-page">
				<span class="glyphicon glyphicon-pencil"></span> <a href="https://github.com/biojs/edu/blob/master/{{ page.path }}">Improve this page</a>
			</div>

			<div id="privacy-notice-less" class="privacy-policy">
				Privacy Policy.
			</div>
			<div id="privacy-notice-more"  class="privacy-policy" style="display:none">
				This website uses Google Analytics to collect anonymous visiting stats.<br />
				By visiting this site you agree to the <a href="https://www.google.com/analytics/terms/us.html">data processing agreement</a> by Google.<br />
				If you do not agree, <a href="http://www.usa.gov/optout-instructions.shtml">opt out</a>.
			</div>
		
		</div>
		-->
	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/highlight.min.js"></script>
	<script type="text/javascript" src="/js/jquery-scrollspy.js"></script>
	<script type="text/javascript" src="/js/bottom.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>

			<script type="text/javascript">
	        $(document).ready(function() {
        			$('.color').each(function(i) {
        				var position = $(this).position();
        				console.log(position);
        				console.log('min: ' + position.top + ' / max: ' + parseInt(position.top + $(this).height()));
        				$(this).scrollspy({
        					min: position.top,
        					max: position.top + $(this).height(),
        					onEnter: function(element, position) {
        						if(console) console.log('entering ' +  element.id);
        						$("body").css('background-color', element.id);
        					},
        					onLeave: function(element, position) {
        						if(console) console.log('leaving ' +  element.id);
        					//	$('body').css('background-color','#eee');
        					}
        				});
        			});
        		});
        	</script>
	<script type="text/javascript">
		$(window).scroll(function(){
    		$(".topNavbar").css({"top": ($(window).scrollTop()) + "px"});        
    		if ($(window).scrollTop() > 140){
	    		$(".leftPanel").css({"top": ($(window).scrollTop()) -140 + "px"});
			}
    	});

		/*
		$('.pullButton').click(function(){
			$(".Menu").css("width","100%");
			$(".Menu").css("left","0");
			$('.pullButton').css("display","none")
		});
		$('.Menu').click(function(){
			$(".Menu").css("width","250px");
			$(".Menu").css("left","-250px");
			$('.pullButton').css("display","block")
		})
		*/

	</script>


	{% for js_name in page.extra_js %}
		<script src="{{ js_name }}"></script>
	{% endfor %}


	<script>hljs.initHighlightingOnLoad();</script>
</body>
</html>
