---
layout: series
series: series_list
---
<div class="fluid-container">

	<h2>{{ page.title }}</h2>


	<div class="static-content">
		{{ content }}

		{% assign count = '1' %}
		<ul>

		{% assign sorted_posts = site.pages | sort: 'url' %}
		{% for post in sorted_posts %}

		{% if post.series ==  page.child_series and post.url != page.url %}
		<li> <a href="{{ post.url }}" >
				{% if page.numbering %} {{ count }}. {% endif %}
				{{post.title}}
			</a>
		</li>
		{% capture count %}{{ count | plus: '1' }}{% endcapture %}
		{% endif %}
		{% endfor %}
		</ul>
	</div>
</div>
