---
layout: default
---

{% if page.series != nil %}

{% assign count = '0' %}
{% assign idx = '0' %}
{% for post in site.pages reversed %}
{% if post.series == page.series %}
{% capture count %}{{ count | plus: '1' }}{% endcapture %}
{% if post.url == page.url %}
{% capture idx %}{{count}}{% endcapture %}
{% endif %}
{% endif %}
{% endfor %}

{% if page.series ==  "cat" %}
{% assign series_title = "Categories" %}
{% else if %}
{% assign series_title = site.cats[page.category].desc %}
{% endif %}

<div class="container-fluid">
<div id="sidebar-row" class="row">
  <div class="col-sm-2">
    <div class="sidebar-nav">
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
		  <span class="visible-xs navbar-brand"> {{ series_title }}</span>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse">

		<h4 id="sidemenu-title" class="hidden-xs">
			{{ series_title }}
		</h4>

          <ul class="nav navbar-nav">

	{% assign count = '1' %}

	{% if page.series ==  "cat" %}
		{% assign sortedpages = site.pages  %}
	{% else %}
		{% assign sortedpages = site.pages | sort: "url" %}
	{% endif%}

	{% for tpage in sortedpages %}
	{% if tpage.series ==  page.series  %}

	{% unless tpage.cat %}
		{% assign counter = count | append: "." %}
	{% endunless %}

	{% capture count %}{{ count | plus: '1' }}{% endcapture %}
		{% if tpage.url ==  page.url %}
		<li class="active"> <a href="#">
				{{ counter }} {{tpage.title}}
			</a>

		{% else %}
		<li> 
		<a href="{{ tpage.url }}" >
			{{ counter }} {{tpage.title}}
		</a>
			{% endif %}
	</li>
	{% endif %}
	{% endfor %}

          </ul>
		  <!--		{{ count }} articles in this series. -->
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

{% assign count = nil %}
{% assign idx = nil %}

  <div class="col-sm-9">

     {{ content }}

  </div>
</div> 

</div>

{% else %}

{{ content }}

{% endif %}
