---
layout: default
extra_css: ["/css/tutorials.css", "/css/solarized_dark.css"]
---
<div class="heading">
    <div class="headingTitle">
        <span class="contentTitle">{{ page.title }} </span>
		
    </div>
    <div class="author">
			<div class="tutorial-item">Last modified: {{ page.path | file_date | date_to_string }}</div>
	        {% if page.contributors %}
	        <div class="tutorial-item">Contributor(s): {{ page.contributors }}</div>
	        {% endif %} {% if page.estimated-time %}
	        <div class="tutorial-item">Duration <span class="glyphicon glyphicon-time" style="font-size:14px;margin-bottom: 2px;"></span>: {{ page.estimated-time }}minutes </div>
	        {% endif %}
		</div>
</div>

{% include menu.html %}

<div class="containerBody">
    <div class="leftPanel">
		{{ content | toc_generate }}
    </div>
    <div class="rightPanel">


        <!-- share it: twitter, google -->
        <div style="float:right; height:25px">
            <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
            <script>
            ! function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0],
                    p = /^http:/.test(d.location) ? 'http' : 'https';
                if (!d.getElementById(id)) {
                    js = d.createElement(s);
                    js.id = id;
                    js.src = p + '://platform.twitter.com/widgets.js';
                    fjs.parentNode.insertBefore(js, fjs);
                }
            }(document, 'script', 'twitter-wjs');
            </script>
            <script src="https://apis.google.com/js/platform.js" async defer></script>
            <div class="g-plus" data-action="share" data-annotation="bubble" data-align="right"></div>

        </div>
        <div class="clearfix"></div>

        <div class="static-content">

            <div id="explanation" style="display:none">
                {% hlblock check %}
We will use this icon to mark check points.
A check point is a way for you to check how you are doing.
{% endhlblock %}

{% hlblock stop %}
For most of the steps in this tutorial we will
provide the code as it should look after the task. It is tempting, we
know, but please, please, do not go for the “copy&paste” way.
{% endhlblock %}

{% hlblock task %}
We will use this icon to challenge you
with additional code-related tasks so you can go further at your own
pace. No inline answer will be provide for those challenges but we will
give you some guidelines and tips. By the way, within the instructions
we will use *an italic font* to refer to variables and pieces of code.
{% endhlblock %}

{% hlblock question %}
We will use this icon to ask you some questions related to the task your are working on.
{% endhlblock %}

{% hlblock info %}
Additional info and resources - this is not essential to complete the tutorial, but very interesting.
{% endhlblock %}

{% hlblock help %}
Tips that might help you on this task.
{% endhlblock %}

{% hlblock raise %}
If you are following this tutorial as part of a workshop, do not hesitate to
raise your hand and share any questions or comments you may have.
If you are doing it by your own, you still can raise your hand in our
mailing list, just join our [Google Group](https://groups.google.com/forum/#!forum/biojs).
{% endhlblock %}


            </div>
            <br />

            <div class="clearfix"> </div>

{% if site.series[page.series].explanation %}

{% alert warn %}The BioJS 101 is still in an early version. We really appreciate any feedback.

* [improve this page](https://github.com/biojs/edu/blob/master/{{page.path}})
* [open an issue](https://github.com/biojs/edu/issues/new) on github

{% endalert %}

{% endif %}
            {{ content }}

           <div id="lower-link-box" class="link-box">
				{% if page.next_in_series != nil %} 
				<a href="{{page.next_in_series.url}}" class="btn btn-primary previous-link">Previous</a>
				{% endif %} 
				{% if page.previous_in_series != nil %}
					<a href="{{page.previous_in_series.url}}" class="btn btn-primary next-link pull-right">Next</a>
				{% endif %}

				<br />	
			</div>

		</div>
	</div>

{% if site.series[page.series].code %}
<script>
$(document).ready(function (){
	// load highlighted code blocks
    $('pre code').each(function(i, block) {
      hljs.highlightBlock(block);
    });
	jQuery(".collapsible").each(function(i,e){
		collapseStuff(e,"Hide the code", "Display the code");
	});
	collapseStuff("#explanation","Hide the icon explanation", "Display the icon explanation");
	jQuery("#explanation").css("display", "block");
});
function collapseStuff(e, textHidden, textDisplayed){
	var divHigh = $(e);
	var children = divHigh.children();
	children.hide();
	var toggleBox = document.createElement("div");
	toggleBox.className = "tutorials-togglebox";
	divHigh.prepend(toggleBox);
	var awesomeIcon = document.createElement("span");
	var awesomeText= document.createElement("span");
	awesomeIcon.className = "tutorials-togglebox-icon glyphicon glyphicon-chevron-down";
	awesomeText.textContent = "Display the code";
	awesomeText.className = "tutorials-togglebox-text";
	toggleBox.appendChild(awesomeIcon);
	toggleBox.appendChild(awesomeText);
	awesomeText.textContent = textDisplayed;
	$(toggleBox).click(function(){
		var codeBox = children;
		var text = divHigh.children().first();
		if( codeBox.css("display") == "none" ){
			codeBox.show(700);
			awesomeText.textContent = textHidden;
			awesomeIcon.className = "tutorials-togglebox-icon glyphicon glyphicon-chevron-up";
		}else{
			codeBox.hide(500);
			awesomeText.textContent = textDisplayed;
			awesomeIcon.className = "tutorials-togglebox-icon glyphicon glyphicon-chevron-down";
		}
	});
};
</script>

<script src="/js/highlight.min.js"></script>

{% endif %}
