---
layout: series
extra_js: ["http://yandex.st/highlightjs/8.0/highlight.min.js"]
extra_css: ["../css/tutorials.css", "../css/solarized_dark.css"]
---
<div class="container-fluid tutorials">

	<h2>{{ page.title }}</h2>
	<div class="tutorial-item">Last modified: {{ page.path | file_date | date_to_string }}</div>
	{% if page.estimated-time %}
	<div class="tutorial-item">Duration: {{ page.estimated-time }} minutes</div>
	{% endif %} 
	<div class="static-content">

		<div id="explanation">
{% highlightblock verification %}
We will use this icon to mark verification points.
A verification point is a way for you to check how you are doing.
{% endhighlightblock %}

{% highlightblock stop %}
For most of the steps in this tutorial we will
provide the code as it should look after the task. It is tempting, we
know, but please, please, do not go for the “copy&paste” way.
{% endhighlightblock %}

{% highlightblock challenge %}
We will use this icon to challenge you
with additional code-related tasks so you can go further at your own
pace. No inline answer will be provide for those challenges but we will
give you some guidelines and tips. By the way, within the instructions
we will use *an italic font* to refer to variables and pieces of code.
{% endhighlightblock %}

{% highlightblock question %}
We will use this icon to ask you some questions related to the task your are working on.
{% endhighlightblock %}

{% highlightblock raise %}
If you are following this tutorial as part of a workshop, do not hesitate to
raise your hand and share any questions or comments you may have.
If you are doing it by your own, you still can raise your hand in our
mailing list, just join our [Google Group](https://groups.google.com/forum/#!forum/biojs).
{% endhighlightblock %}

		</div>
		<br />

		{{ content }}
		<br />	
	</div>
</div>
<script>hljs.initHighlightingOnLoad();
jQuery(document).ready(function() {
	jQuery(".collapsible").each(function(i,e){
		collapseStuff(e,"Hide the code", "Display the code");

	});
	collapseStuff("#explanation","Hide the icon explanation", "Display the icon explanation");
});

function collapseStuff(e, textHidden, textDisplayed){

	var divHigh = $(e);
	var children = divHigh.children();
	children.hide();

	var toggleBox = document.createElement("div");
	toggleBox.className = "tutorials-togglebox";
	divHigh.prepend(toggleBox);

	var awesomeIcon = document.createElement("span");
	var awesomeText= document.createElement("span");

	awesomeIcon.className = "tutorials-togglebox-icon glyphicon glyphicon-chevron-down";
	awesomeText.textContent = "Display the code";
	awesomeText.className = "tutorials-togglebox-text";

	toggleBox.appendChild(awesomeIcon);
	toggleBox.appendChild(awesomeText);

	awesomeText.textContent = textDisplayed;

	$(toggleBox).click(function(){

		var codeBox = children;
		var text = divHigh.children().first();
		if( codeBox.css("display") == "none" ){
			codeBox.show(700);
			awesomeText.textContent = textHidden;
			awesomeIcon.className = "tutorials-togglebox-icon glyphicon glyphicon-chevron-up";
		}else{
			codeBox.hide(500);
			awesomeText.textContent = textDisplayed;
			awesomeIcon.className = "tutorials-togglebox-icon glyphicon glyphicon-chevron-down";
		}

	});
};

</script>
